@CHARSET "UTF-8";

.msg_system {
    color: #009900;
    font-weight: bold;
}

.msg_chat {
    
}

body {
    font-size: 20px !important;
}

.gwt-Label {
    font-size: 20px !important;
}

.gwt-Button {
    font-size: 20px !important;
}

.gwt-TextBox {
    font-size: 20px !important;
}

.big-datagrid>td {
    font-size: 20px !important;
}

.gstatus {
    font-size: 40px;
    font-weight: bold;
}

.gopen {
    color: #009900;
}

.gclosed {
    color: #660000;
}

.gcompleted {
    color: #0000cc;
    cursor: pointer;
}

.voted {
    background-color: #ccffcc !important;
    color: black !important;
}